$blue:#259DD8;
// $pink50: #feeae6;
// $pink100: #fedbd0;
// $pink900: #442c2e;
$orange: rgb(226, 161, 39);
$red: rgb(204, 49, 49);
$green: #07a507;


$pink50: #ffffff;
$pink100: #d3e8e1;
$pink900: #167c80;
