@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Nunito+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  body .banner {
    height: 150px;
  }
  body .banner__content {
    font-size: 16px !important;
    line-height: 150px;
  }
}

@media screen and (max-width: 768px) {
  body .banner__content {
    font-size: 25px;
  }
  body .bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  body .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .main-content .aside {
    width: 100%;
    padding: 0 10px;
  }
  body .main-content .aside__menu {
    margin-bottom: 0;
  }
  body .main-content .aside__li {
    display: inline-block;
  }
}

html, body {
  font-family: 'Josefin Sans', sans-serif;
}

#wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #d3e8e1;
}

.header__logo {
  margin: 3px 10px;
  display: inline-block;
}

.header__logo img {
  width: 100px;
  height: auto;
}

.header__title {
  display: inline-block;
  color: #167c80;
  margin: 15px 0;
  font-size: 30px;
  font-weight: 600;
}

.banner {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: url("../images/cover.jpg") 50% 30%/cover no-repeat scroll;
}

.banner__content {
  color: #ffffff;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 20px;
}

.main-content .content__menu {
  font-weight: 600;
  margin: 10px 0;
}

.main-content .content__name {
  text-decoration: underline;
  color: #167c80;
}

.main-content .content__name:hover {
  color: #d3e8e1;
}

.main-content .content .content-active {
  color: #d3e8e1;
}

.main-content .content .manage .--padding {
  padding: 12px 24px;
}

.main-content .content .table__head {
  background-color: #167c80;
  color: #ffffff;
}

.main-content .content .table__edit, .main-content .content .table__delete {
  border: 1px solid #e2a127;
  border-radius: 0;
  color: #e2a127;
}

.main-content .content .table__edit:hover, .main-content .content .table__delete:hover {
  background-color: #e2a127;
  color: white;
}

.main-content .content .table__delete {
  border: 1px solid #cc3131;
  color: #cc3131;
}

.main-content .content .table__delete:hover {
  background-color: #cc3131;
}

.main-content .content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 50vh;
}

.main-content .content .form__title {
  color: #167c80;
  margin-bottom: 0;
  font-weight: 600;
}

.main-content .content .form__btn-submit, .main-content .content .form__btn-cancel {
  border-radius: 0;
  background-color: #07a507;
  color: white;
  border-radius: 5px;
}

.main-content .content .form__btn-submit:hover:not([disabled]), .main-content .content .form__btn-cancel:hover:not([disabled]) {
  background-color: #fff;
  border: 1px solid #07a507;
  color: #07a507;
}

.main-content .content .form__btn-cancel {
  background-color: #cc3131;
}

.main-content .content .form__btn-cancel:hover:not([disabled]) {
  border: 1px solid #cc3131;
  color: #cc3131;
}

.main-content .playlist .playlist-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .playlist__title {
  color: #167c80;
  margin-bottom: 0;
  margin-left: .75rem;
  font-weight: 600;
}

.main-content .playlist__list {
  list-style: none;
}

.main-content .playlist__li {
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
}

.main-content .playlist .--custom-collapse {
  list-style: none;
  padding-left: 20px;
}

.main-content .playlist .add-to-playlist {
  background-color: #442c2e;
  padding: 7px;
  color: white;
  border: none;
  margin-bottom: 10px;
}

.main-content .playlist .add-to-playlist:focus {
  outline: none;
}

.main-content .playlist-form__or {
  text-align: center;
  width: 100%;
  position: relative;
}

.main-content .playlist-form__or::after, .main-content .playlist-form__or::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 45%;
  border-bottom: 1px solid #167c80;
}

.main-content .playlist-form__or::before {
  left: auto;
  right: 0;
}

.main-content .playlist-form__list {
  list-style: none;
}

.main-content .playlist-form__li {
  padding: 10px;
  margin: 10px 0;
  background-color: #ffffff;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.main-content .playlist-form__li:hover {
  cursor: pointer;
  font-weight: 600;
  background-color: #d3e8e1;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.main-content .template__btn {
  width: 100%;
  padding: 6px 12px;
  background-color: #d3e8e1;
  color: #167c80;
  border: none;
  margin: 5px 0;
}

.main-content .template tbody {
  display: block;
  height: 32vh;
  overflow: auto;
}

.main-content .template thead, .main-content .template tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.main-content .aside {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #167c80;
  width: 250px;
}

.main-content .aside__li {
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
  list-style: none;
  margin: 5px;
}

.main-content .aside__li:hover {
  background-color: #d3e8e1;
}

.main-content .aside__li:hover ~ .aside__link {
  color: #d3e8e1;
}

.main-content .aside__link {
  color: #d3e8e1;
  font-weight: 600;
  width: 100%;
  display: inline-block;
  padding: 15px 20px;
}

.main-content .aside__link:hover {
  text-decoration: none;
  color: #167c80;
}

.main-content .aside .aside-active {
  background-color: #d3e8e1;
}

.main-content .aside .aside-active a {
  color: #167c80;
}

.footer {
  background-color: #d3e8e1;
  padding: 20px 10px;
}

.footer__copyright {
  text-align: center;
  color: #167c80;
  font-weight: 600;
  font-size: 18px;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.bar__title {
  color: #167c80;
  margin-bottom: 0;
  font-weight: 600;
}

.tools {
  margin-right: 0;
  margin-left: 0;
}

.tools__add, .tools__delete {
  border: 1px solid #167c80;
  padding: 5px 10px;
  color: #167c80;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
}

.tools__add:active, .tools__delete:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tools__add:focus, .tools__delete:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tools__search {
  border: 1px solid #167c80;
  padding: 0px 10px;
  font-size: 15px;
  border-radius: 3px;
  margin-left: 5px;
}

.border-color {
  border: 1px solid #167c80;
}

.custom-table {
  table-layout: fixed;
  width: 100%;
}

.table td, .table th {
  padding: 6px 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.playlist-table .thead {
  width: 100%;
}

tbody {
  display: block;
  height: 40vh;
  overflow: auto;
}

.custom-tbody {
  display: block;
  height: auto;
  overflow: auto;
  max-height: 40vh;
  min-height: 80px;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.border-none {
  border: none;
}

.detail-name {
  font-weight: 700;
  color: #167c80;
}

.modal-footer > * {
  font-size: 15px;
  padding: 5px 10px;
}

.modal-footer {
  padding: .25rem .75rem !important;
}

.dialog-content {
  font-size: 18px;
  font-weight: 600;
  color: #167c80;
}

.btn {
  padding: .275rem .75rem;
}

.custom-pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
}

.number-select {
  margin-right: 10px;
  margin-top: 4px;
}

.number-select select:focus {
  outline: none;
}

.page-link {
  padding: .3rem .75rem;
}

.no-item, .no-item-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #167c80;
  font-weight: 600;
  border: 1px solid #167c80;
  padding: 3px 15px;
  background-color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
}

.no-item-detail {
  top: 46%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

input[type=text]:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-primary:disabled {
  background-color: #222222;
  border-color: #222222;
  opacity: 0.2;
}

.notify {
  position: fixed;
  top: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */