*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import 'variable';
@import 'responsive';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Nunito+Sans:wght@300;400;600;700&display=swap');
html, body{
    font-family: 'Josefin Sans', sans-serif;
}
#wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: $pink100;
    &__logo{
        margin: 3px 10px;
        display: inline-block;
        img{
            width: 100px;
            height: auto;
        }
    }
    &__title{
        display: inline-block;
        color: $pink900;
        margin: 15px 0;
        font-size: 30px;
        font-weight: 600;
    }
}
.banner{
    height: 180px;
    width: 100%;
    object-fit: cover;
    background: url('../images/cover.jpg') 50% 30%/ cover no-repeat scroll;
    &__content{
        color: $pink50;
        text-align: center;
        line-height: 200px;
        font-size: 30px;
    }
}
.main-content{
    flex-grow: 1;
    display: flex;
    .content{
        flex-grow: 1;
        margin: 0 20px;
        &__menu{
            font-weight: 600;
            margin: 10px 0;
        }
        &__name{
            text-decoration: underline;
            color: $pink900;
            &:hover{
                color: $pink100;
            }
        }
        .content-active{
            color: $pink100;
        }
        .manage{
            
            .--padding{
                padding: 12px 24px;
            }
        }
        .table{
            &__head{
                background-color: $pink900;
                color: $pink50;
            }
            &__edit{
                border: 1px solid $orange;
                border-radius: 0;
                color: $orange;
                &:hover{
                    background-color: $orange;
                    color: white;
                }
            }
            &__delete{
                @extend .table__edit;
                border: 1px solid $red;
                color: $red;
                &:hover{
                    background-color: $red;
                }
            }
        }
        .form{
            display: flex;
            align-items: center;
            justify-content: center;
            height: fit-content;
            min-height: 50vh;
            &__title{
                color: $pink900;
                margin-bottom: 0;
                font-weight: 600;
            }
            &__btn-submit{
                border-radius: 0;
                background-color: $green;
                color: white;
                border-radius: 5px;
                &:hover:not([disabled]){
                    background-color: #fff;
                    border: 1px solid $green;
                    color: $green;
                }
            }
            &__btn-cancel{
                @extend .form__btn-submit;
                background-color: $red;
                &:hover:not([disabled]){
                    border: 1px solid $red;
                    color: $red;
                }
            }
        }
    }
    .playlist{
        .playlist-head{
            display: flex;
            justify-content: space-between;
        }
        &__title{
            color: $pink900;
            margin-bottom: 0;
            margin-left: .75rem;
            font-weight: 600;
        }
        &__list{
            list-style: none;
        }
        &__li{
            margin: 10px;
            padding: 10px;
            background-color: $pink50;
        }
        .--custom-collapse{
            list-style: none;
            padding-left: 20px;
        }
        .add-to-playlist{
            background-color: #442c2e;
            padding: 7px;
            color: white;
            border: none;
            margin-bottom: 10px;
            &:focus{
                outline: none;
            }
        }
    }
    .playlist-form{
        &__or{
            text-align: center;
            width: 100%;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                top: 12px;
                left: 0;
                width: 45%;
                border-bottom: 1px solid $pink900;
            }
            &::before{
                @extend .playlist-form__or::after;
                left: auto;
                right: 0;
            }
        }
        &__list{
            list-style: none;
        }
        &__li{
            padding: 10px;
            margin: 10px 0;
            background-color: $pink50;
            transition: ease-in-out .2s;
            &:hover{
                cursor: pointer;
                font-weight: 600;
                background-color: $pink100;
                transform: translateX(10px);
            }
        }
    }
    .template{
        &__btn{
            width: 100%;
            padding: 6px 12px;
            background-color: $pink100;
            color: $pink900;
            border: none;
            margin: 5px 0;
        }
        tbody {
            display:block;
            height:40vh;
            overflow:auto;
        }
        thead, tbody tr {
            display:table;
            width:100%;
            table-layout:fixed;
        }

    }
    .aside{
        flex-shrink: 0;
        background-color: $pink900;
        width: 250px;
        &__li{
            transition: ease-in-out .2s;
            list-style: none;
            margin: 5px;
            &:hover{
                background-color: $pink100;
            }
            &:hover~.aside__link{
                color: $pink100;
            }
        }
        &__link{
            color: $pink100;
            font-weight: 600;
            width: 100%;
            display: inline-block;
            padding: 15px 20px;
            &:hover{
                text-decoration: none;
                color: $pink900;
            }
        }
        .aside-active{
            background-color: $pink100;
            a{
                color: $pink900;
            }
        }
    }
}
.footer{
    background-color: $pink100;
    padding: 20px 10px;
    &__copyright{
        text-align: center;
        color: $pink900;
        font-weight: 600;
        font-size: 18px;
    }
}



.bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &__title{
        color: $pink900;
        margin-bottom: 0;
        font-weight: 600;
    }
}
.tools{
    margin-right: 0;
    margin-left: 0;
    &__add{
        border: 1px solid $pink900;
        padding: 5px 10px;
        color: $pink900;
        background-color: transparent;
        font-weight: 400;
        font-size: 16px;
        &:active{
            outline: none;
            box-shadow: none;
        }
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    &__delete{
        @extend .tools__add;
    }
    &__search{
        border: 1px solid $pink900;
        padding: 0px 10px;
        font-size: 15px;
        border-radius: 3px;
        margin-left: 5px;
    }
}

.border-color{
    border: 1px solid $pink900;
}
.custom-table{
    table-layout: fixed;
    width: 100%;
}
.table td, .table th {
    padding: 6px 15px;
}
.cursor-pointer{
    cursor: pointer;
}
.playlist-table{
    .thead{
        width: 100%;
    }
}

tbody {
    display: block;
    height: 40vh;
    overflow: auto;
}
.custom-tbody {
    display: block;
    height: auto;
    overflow: auto;
    max-height: 40vh;
    min-height: 80px;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.border-none{
    border: none;
}
//Custom model
.detail-name{
    font-weight: 700;
    color: $pink900;
}
.modal-footer>* {
    font-size: 15px;
    padding: 5px 10px;
}
.modal-footer{
    padding: .25rem .75rem !important;
}
.dialog-content{
    font-size: 18px;
    font-weight: 600;
    color: $pink900;
}
.btn{
    padding: .275rem .75rem;
}

// custom pagination
.custom-pagination{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 50px;
}
.number-select{
    margin-right: 10px;
    margin-top: 4px;
    select:focus{
        outline: none;
    }
}
.page-link{
    padding: .3rem .75rem;
}
.no-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $pink900;
    font-weight: 600;
    border: 1px solid $pink900;
    padding: 3px 15px;
    background-color: $pink50;
    width: fit-content;
}
.no-item-detail{
    @extend .no-item;
    top: 46%;
    transform: translate(-50%, 0%);
}
input[type=text]:focus{
    outline: none;
    box-shadow: none;
}

.btn.btn-primary:disabled{
    background-color: #222222;
    border-color: #222222;
    opacity: 0.2;
}

.notify{
    position: fixed;
    top: 0;
    right: 0;
}

