<section class="playlist">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <h3 class="playlist__title">Manage playlists</h3>
            <div>
                <a ng-href="#/create-playlist" class="add-to-playlist float-left">
                    <i class="far fa-plus-square"></i> Add To Playlist
                </a>
                <button class="btn table__delete float-right" ng-click="onDeletePlaylistMultiSelected()">
                    <i class="far fa-trash-alt"></i>
                    Delete
                </button>
            </div>
        </div>
        <div class="col-12 col-md-8 mx-auto">
            <h5>List playlists</h5>
            <div class="table-responsive-sm manage">
                <table width="100%" class="table table-hover table-condensed table-bordered">
                    <thead class="table__head">
                      <tr>
                        <th class="text-center"><input type="checkbox" ng-change="onCheckAll(isAll)" ng-model="isAll['all']" ></th>
                        <th>Name</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="playlist in paginationPlaylists" ng-click="onViewDetailPlaylist(playlist)"> 
                          <td width="60px" class="text-center">
                            <input ng-change="onSingleChange(playlist)" ng-model="isCheck[playlist.id]" type="checkbox">
                          </td>
                        <td data-toggle="modal" data-target="#detail" class="cursor-pointer"> {{playlist.name}} </td>
                        <td class="text-center" width="205px">
                            <button ng-click="onEditPlaylist(playlist)" class="btn table__edit">
                                <i class="far fa-edit"></i>
                                <span class="btn-name">Edit</span>
                            </button>
                            <button ng-click="onDeletePlaylist(playlist.id)" class="btn table__delete">
                                <i class="far fa-trash-alt"></i>
                                <span class="btn-name">Delete</span>
                            </button>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <div class="custom-pagination">
                    <ul ng-change="pageChanged(currentPagePlaylist)" 
                        uib-pagination total-items="totalItems" 
                        data-ng-model="currentPagePlaylist" 
                        items-per-page="itemsPerPage">
                    </ul>
                </div>
            </div>
            <!-- Model -->
            <div ng-include="'playlists/view/playlistDetail.html'"></div>
        </div>
    </div>
</section>