<section class="playlist col-12 col-lg-8 mx-auto">
    <div class="row">
        <!-- col-md-8 mx-auto -->
        <div class="bar">
            <h2 class="playlist__title">{{'manage' | i18next}} {{'playlist' | i18next | lowercase}} </h2>
        </div>
        <div class="col-12">
            <div class="bar">
                <div>
                    <button class="btn btn-primary btn-sm active"
                    ng-click="onEditPlaylist()" ng-disabled="!isSingleSelectPlaylist">
                        <i class="far fa-edit"></i>
                        {{'edit' | i18next}}
                    </button>
                    <button class="btn btn-primary btn-sm active"
                    ng-disabled="!isCheckAnyPlaylist"
                    data-toggle="modal" data-target="#deleteModalPlaylist--1">
                        <i class="far fa-trash-alt"></i>
                        {{'delete' | i18next}}
                    </button>
                    <dialog-directive
                        id="-1"
                        title="Playlist"
                        content="{{'delPlaylist' | i18next}}"
                        function="onDeletePlaylistMultiSelected()">
                    </dialog-directive>
                </div>
                <div class="tool row mx-0">
                    <button class="btn btn-primary btn-sm active"
                    ng-click="onClickAddPlaylist()">
                        <i class="fas fa-plus"></i>
                        {{'add' | i18next}}
                    </button>
                    <input ng-model="keyWordPlaylist" class="tools__search" type="text" placeholder="{{'search' | i18next}}">
                </div>
            </div>
           
        </div>
        <div class="col-12">
            <div class="table-responsive-sm manage">
                <table-directive
                    arr-title = 'arrTitlePlaylist'
                    array = 'listPlaylistsDefault'
                    arr-pagination = 'paginationPlaylists'
                    multi-select = 'multiSelect'
                    search-key-word = 'keyWordPlaylist'
                    items-per-page = 'pagination_playlist.itemsPerPage'
                    current-page = 'pagination_playlist.currentPage'
                    on-view-detail-playlist = 'onViewDetail(param)'
                ></table-directive>
                <pagination-directive
                    total-items = "pagination_playlist.totalItems"
                    items-per-page = "pagination_playlist.itemsPerPage"
                    current-page = "pagination_playlist.currentPage"
                ></pagination-directive>
            </div>
            <!-- Model -->
            <div ng-include="'playlists/view/playlistDetail.html'"></div>
        </div>
    </div>
</section>