
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="title">
                Detail of playlist: 
                <span class="detail-name">{{detailPlaylist.name}}</span>
            </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h5>List songs</h5>
            <div class="table-responsive-sm">
                <table width="100%" class="table table-hover table-condensed table-bordered">
                    <thead class="table__head">
                        <tr>
                            <th>Name</th>
                            <th>Artist</th>
                        </tr>
                    </thead>
                    <tbody class="custom-tbody">
                        <span ng-if="isNoItemDetailPlaylist" class="no-item-detail">No items to show</span>
                        
                        <tr ng-repeat="song in detailPlaylist.songs | filter:searchKeyWord:strict">
                            <td>{{song.name}} </td>
                            <td>{{song.artist}} </td>
                        </tr>   
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

