<section class="custom-pagination">
    <div class="form-group number-select">
        <label> {{itemsPerPageText | i18next}}:</label>
        <select name=" | i18next" ng-model="selectNumberOfItems" ng-change="onChangeSelect(selectNumberOfItems)">
            <option value="{{fixNumber}}"> {{fixNumber}} </option>
            <option value="{{fixNumber*2}}"> {{fixNumber*2}} </option>
            <option value="{{fixNumber*5}}"> {{fixNumber*5}} </option>
            <option value="{{fixNumber*10}}"> {{fixNumber*10}} </option>
        </select>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item {{currentPage === 1 ? 'disabled': ''}}"
                ng-click="onClickPrevious()">
                <a class="page-link" tabindex="-1">{{previousText | i18next}}</a>
            </li>
            <li ng-repeat="x in [].constructor(numberOfPage) track by $index" 
            class="page-item {{currentPage === $index+1 ? 'active' : ''}}"
            ng-click="onClickMovePage($index+1)">
                <a class="page-link"> {{$index+1}} </a>
            </li>
            <li class="page-item {{currentPage === numberOfPage ? 'disabled': ''}}"
                ng-click="onClickNext()">
                <a class="page-link">{{nextText | i18next}}</a>
            </li>
        </ul>
    </nav>
</section>
