<section class="custom-pagination">
    <div class="form-group number-select">
        <label> {{itemsPerPageText | i18next}}:</label>
        <select name=" | i18next" ng-model="selectNumberOfItems" ng-change="onChangeSelect(selectNumberOfItems)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item {{currentPage === 1 ? 'disabled': ''}}"
                ng-click="onClickPrevious()">
                <a class="page-link" tabindex="-1">{{previousText | i18next}}</a>
            </li>
            <li ng-repeat="item in arrValuePage" 
            class="page-item {{currentPage === item.page ? 'active' : ''}}"
            ng-click="onClickMovePage(item.page)">
                <a class="page-link"> {{item.page}} </a>
            </li>
            <li class="page-item {{currentPage === numberOfPage ? 'disabled': ''}}"
                ng-click="onClickNext()">
                <a class="page-link">{{nextText | i18next}}</a>
            </li>
        </ul>
    </nav>
</section>
