<section class="manage">
    <div class="bar">
        <h3 class="bar__title">Manage songs</h3>
        <div ng-include="'songs/action/action.html'" class="tools row" ng-controller="actionSongController">
        </div>
    </div>
    <div class="table-responsive-sm">
        <table width="100%" class="table table-hover table-condensed table-bordered">
            <thead class="table__head">
                <tr>
                    <th width="60px" class="text-center"><input type="checkbox" ng-change="onCheckAll(isAll)" ng-model="isAll['all']" ></th>
                    <th>Name</th>
                    <th>Artist</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="song in paginationSongs | filter:searchKeyWord:strict">
                <!-- <tr ng-repeat="song in listSongsDefault | filter:searchKeyWord:strict"> -->
                    <td width="60px" class="text-center"><input ng-change="onSingleChange(song)" ng-model="isCheck[song.id]" type="checkbox"></td>
                    <td>{{song.name}} </td>
                    <td>{{song.artist}} </td>
                    <td width="205px" class="text-center">
                        <button ng-click="onEditSong(song)" class="btn table__edit">
                            <i class="far fa-edit"></i>
                            <span class="btn-name">Edit</span>
                        </button>
                        <button ng-click="onDeleteSong(song.id)" class="btn table__delete">
                            <i class="far fa-trash-alt"></i>
                            <span class="btn-name">Delete</span>
                        </button>
                    </td>
                </tr>   
            </tbody>
        </table>
        <div class="custom-pagination">
            <ul ng-change="pageChanged(currentPage)" uib-pagination total-items="totalItems" data-ng-model="currentPage" items-per-page="itemsPerPage"></ul>
        </div>

    </div>
</section>