<section class="manage col-12 col-lg-8 mx-auto">
    <div class="bar">
        <h2 class="bar__title">{{'manage' | i18next}} {{'songTxt' | i18next | lowercase}} </h2>
    </div>
    <div class="bar">
        <div>
            <button class="btn btn-primary btn-sm active"
            ng-click="onEditSong()" ng-disabled="!isSingleSelectSong">
                <i class="far fa-edit"></i>
                {{'edit' | i18next}}
            </button>
            <button class="btn btn-primary btn-sm active"
            ng-disabled="!isCheckAnySong"
            data-toggle="modal" data-target="#deleteModalSong--1">
                <i class="far fa-trash-alt"></i>
                {{'delete' | i18next}}
            </button>
            <dialog-directive 
                id="-1"
                title="Song"
                content="{{'delSong' | i18next}}"
                function="onMultiDelete()">
            </dialog-directive>
        </div>
        <div class="tools row">
            <button class="btn btn-primary btn-sm active"
            ng-click="onClickAddSong()">
                <i class="fas fa-plus"></i>
                {{'add' | i18next}}
            </button>
            <input class="tools__search" type="text" 
                name="search"
                placeholder="{{'search' | i18next}}"
                ng-model="searchKeyWord"
                ng-change="onChangeSearch(searchKeyWord)">

        </div>
    </div>
    <div class="table-responsive-sm mt-2">
        <table-directive
            arr-title = 'arrTitleSong'
            array = 'listSongsDefault'
            arr-pagination = 'paginationSongs'
            multi-select = 'multiSelect'
            search-key-word = 'searchKeyWord'
            items-per-page = 'pagination_song.itemsPerPage'
            current-page = 'pagination_song.currentPage'
        ></table-directive>

        <pagination-directive
            total-items = "pagination_song.totalItems"
            items-per-page = "pagination_song.itemsPerPage"
            current-page = "pagination_song.currentPage"
        ></pagination-directive>
    </div>
</section>