<div class="row form">
    <div class="col-12 col-md-5 mx-auto">
        <form name="songForm" novalidate class="form-group">
            <fieldset class="border-color py-3 px-4">
                <legend class="w-auto">
                    <h3 ng-show="!isEdit" class="form__title">{{'add' | i18next}} {{'songTxt' | i18next}} </h3>
                    <h3 ng-show="isEdit" class="form__title">{{'edit' | i18next}} {{'songTxt' | i18next}} </h3>
                </legend>
                <label>*{{'name' | i18next}}  </label>
                <input name="songName" ng-model="song.name" type="text" class="form-control" required>
                <p ng-show="songForm.songName.$touched && songForm.songName.$invalid" 
                class="text-danger font-weight-bold">{{'notEmpty' | i18next}}.</p>
                <label>{{'artist' | i18next}} </label>
                <input name="songArtist" ng-model="song.artist" type="text" class="form-control">
                <hr>
                <div class="text-right">
                    <button class="btn btn-primary active"
                        ng-show="!isEdit"
                        ng-disabled="songForm.songName.$invalid"
                        ng-click="onCreateSong()">
                        <i class="far fa-plus-square"></i> {{'add' | i18next}}
                    </button>
                    <button class="btn btn-primary active"
                        ng-show="isEdit"
                        ng-disabled="songForm.songName.$invalid"
                        ng-click="onApplyEditSong(song)">
                        <i class="far fa-edit"></i> {{'apply' | i18next}}
                    </button>   
                    <button class="btn btn-secondary active"
                        ng-click="onCancelSubmit()">
                        <i class="fas fa-times"></i> {{'cancel' | i18next}}
                    </button>
                </div>
            </fieldset>
        </form>
        
    </div>
</div>