<div class="row form">
    <div class="col-12 col-md-5 mx-auto">
        <form name="songForm" novalidate class="form-group" ng-submit="songForm.$valid && onSubmit(song)">
            <fieldset class="border-color py-3 px-4">
                <legend class="w-auto">
                    <h3 ng-show="!isEdit" class="form__title">{{'add' | i18next}} {{'songTxt' | i18next | lowercase}} </h3>
                    <h3 ng-show="isEdit" class="form__title">{{'edit' | i18next}} {{'songTxt' | i18next | lowercase}} </h3>
                </legend>
                <label>*{{'name' | i18next}}  </label>
                <input name="songName" ng-model="song.name" type="text" class="form-control" required>

                <div ng-show="songForm.$submitted || songForm.songName.$touched">
                    <div class="text-danger font-weight-bold" ng-show="songForm.songName.$error.required"> {{'notEmpty' | i18next}}. </div>
                </div>

                <label>{{'artist' | i18next}} </label>
                <input name="songArtist" ng-model="song.artist" type="text" class="form-control">
                <div class="text-right mt-4">
                    <button class="btn btn-primary active"
                        type="submit"
                        ng-show="!isEdit">
                        {{'add' | i18next}}
                    </button>
                    <button class="btn btn-primary active"
                        type="submit"
                        ng-show="isEdit">
                        {{'apply' | i18next}}
                    </button>   
                    <button class="btn btn-secondary active"
                        ng-click="onCancelSubmit()">
                        {{'cancel' | i18next}}
                    </button>
                </div>
            </fieldset>
        </form>
        
    </div>
</div>